---
import Layout from '../layouts/Layout.astro';

---

<Layout>
  <h2>Кто я</h2>
	<p>Фронтенд-разработчик и выпускник философского факультета</p>
  <h2>Что здесь</h2>
  <p>Мое путешествие в мир инженерной, гуманитарной и визуальной культуры. Заметки о том, что имеет смысл</p>
</Layout>
